<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/92801053-3886-4dcc-ab8f-db123df79f43/resourceGroups/Presidents/providers/Microsoft.Web/sites/President-API</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://president-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>president-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>President-API</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$President-API</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>